@import '../../../theme/colors';
@import '../../../theme/buttons';
@import '../../../theme/themecard';
@import '../../../theme/tab';

.Forward-form-button{
    display: flex;
    justify-content: space-between;
}
.billreceive-detail{
    display: flex;
    width: 100%;
}
.billdetail-left{
    display: flex;
    width: 50%;
}
.billdetail-right{
    display: flex;
    width: 50%;
}
.receiveform{
    display: flex;
    width: 100%;
    padding: 35px 10px 35px 20px;
}
.detail-receivebill-1{
    width: 30%;
}
.detail-receivebill-2{
    width: 70%;
}
// verify form css start
.Verify-form{
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 481px;
    height: 339px;
    padding: 30px 20px 25px 20px;
  
}
.verify-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(55, 55, 55, 0.6);
}
.verify-heading{
    text-align: center;
    font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
padding-bottom: 25px;
}
.verify-input input{
    width: 430px !important;
    height: 43px !important;
    margin-bottom: 10px;
    border: 0.5px solid #A3A3A3 !important;
    border-radius: 3px !important;
}
.verify-input label{
    padding-bottom: 10px;
}
.verify-buttons{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.cancel-button{
    margin-right: 30px;
}
.receive-forms{
    height: 100vh;
    position: relative;
}
.status-red{
    color: #FF4848;
}

