
@import '../../../theme/colors';
@import '../../../theme/buttons';
@import '../../../theme/themecard';
@import '../../../theme/tab';
@import '../../../theme/modal';

.wpr-table{
    td:first-child{
         color: $gradient_button_color_left;
     }
 }
 .material-link{
    text-decoration: none;
 }
 .link-clr{
    color: #0260D2;
 }
 .inputs-align{
    margin: 0 10px 30px 10px;
    width: 450px;
 }
 .billreceive-detail{
    display: flex;
    width: 100%;
}
.billdetail-left{
    display: flex;
    width: 40%;
}
.billdetail-right{
    display: flex;
    width: 60%;
}
.receiveform{
    display: flex;
    width: 100%;
    padding: 35px 10px 35px 20px;
}
.detail-receivebill-1{
    width: 60%;
}
.detail-receivebill-2{
    width: 30%;
}
.detail-receivebill-3{
    width: 30%;
}