


.eYFlsY table td {
    font-size: 13px;
    text-align: start !important;
}
.eYFlsY table th {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 19px;
    text-align: start !important;
}
.action-icons{
    font-size: 23px;
    color: #8C8C8C;
}
.status-icons{
    color: #48FF5A;
    font-size: 15px;
    margin-right: 8px;
}
td img{
margin-right: 15px;
}
// react-table css end










