$left_menu_background_color: #34444C;
$left_menu_font_color: #B7C0CD;
$temp_color: #8e2e21; // delete this



$gray_color: #E5E5E5;
$count-color:#7460EE;
$breadcrumb-color:#5A5A5A;
// Buttons
$gradient_button_color_left: #0256CD;
$gradient_button_color_right: #00C3FA;
$button_text_color_1: rgb(255, 255, 255);
$back_button_background_color:#0260D2;
$sky-blue: #00C2FA;
$red:#FF6868;
$green:#66D63E;
$tab-link:#A7A7A7;
$active-link-dot-color: #00B1F3;


//toast color
$toast-error-color: #E21717;
$toast-success-color: rgb(0, 149, 127);

$menu-link-text: #B7C0CD;
$menu-link-text-hover: #d2d9e3;