body ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  body ::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
  }
  
  body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: gray;
    box-shadow: none;
  }
  
  body ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(66, 66, 66, 0.4);
  }