@import '../../theme/colors';
@import '../../theme/buttons';
@import '../../theme/themecard';



.css-g1d714-ValueContainer > div{
    width: initial !important;
}

td img{
    margin-right: 8px;
}
.cancel-btn:hover{
    color: $back_button_background_color !important;
}