@import '../../../theme/colors';
@import '../../../theme/buttons';
@import '../../../theme/themecard';
@import '../../../theme/tab';

.form-group {
  
    p{
        width: 50%;
    }
    .info-txt{
        color: #3F3F3F;
    }
    
}
.yes{
    padding-right: 70px;
    padding-left: 10px;
 }